{% extends 'base.html' %}

{% block title %}
    Make the way
{% endblock title %}

{% block head %}
    <style>
    </style>
{% endblock head %}

{% block content %}
    <div style="max-width: 800px; margin: auto">
        <h1>Добавить транспорт</h1>
        <hr>
        <form id="input" method="post">
            {% csrf_token %}
            <label>
                Название:
                <input required type="text" size="40" name="name">
            </label>
            <label>
                Модель машины
                <input required type="text" size="40" name="model" list="list1">
            </label>
            <datalist id="list1">
                <option value="Bmw" label="Bmw">
                <option value="Toyota" label="Toyota">
                <option value="Infinity" label="Infinity">
                <option value="Volga" label="Volga">
                <option value="Lada" label="Lada">
                <option value="Honda" label="Honda">
                <option value="Ford" label="Ford">
                <option value="Suzuki" label="Suzuki">
                <option value="Opel" label="Opel">
                <option value="Nissan" label="Nissan">
                <option value="Mazda" label="Mazda">
                <option value="Mercedes" label="Mercedes">
            </datalist>
            <label>
                Номер машины
                <input required type="text" name="car_number" size="12">
            </label>
            <label>
                Количество свободных мест
                <input required type="number" name="place" step="1" min="1" max="10" list="list2" size="10">
            </label>
            <datalist id="list2">
                <option value="1" label="1">
                <option value="2" label="2">
                <option value="3" label="3">
                <option value="4" label="4">
                <option value="5" label="5">
            </datalist>
            <p><b>Дополнительные условия</b><br>
            <p>
                <label>
                    <input type="checkbox" name="option"/>
                    <span>Можно курить</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" name="option"/>
                    <span>Можно проигрывать музыку</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" name="option"/>
                    <span>Можно с животными</span>
                </label>
            </p>
            <label>
                Контактный номер
                <input type="text" size="40" name="contact_data">
            </label>
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" name="comment"></textarea>
                  <label for="textarea1">Комментарий</label>
                </div>
              </div>
            </div>
            <button class="btn-large red" type="submit">Добавить</button>
            <a class="btn-large right red" href="{% url 'my_transport' %}">Отмена</a>
        </form>
    </div>
    <script>
        $('#input').on('keydown', ev => {
            if (ev.key === 'Enter') {
                ev.preventDefault();
            }
        });
        M.textareaAutoResize($('#textarea1'));
    </script>
{% endblock %}