<html>
<head>
<link rel="shortcut icon" href="C:\Users\79154\Downloads\travel_icon_142598.ico" type="image/x-icon">
<title>Enter</title>
<style>
div.c1{
margin-left:10px;
}
</style>

<style>
   button.b1 {
    background: #f2f6f8;
    border: 1px solid #7a7b7e;
    height: 25px;
    / *font-weight: bold;/ *
   }
  </style>


<style>
form{
display: inline
}
</style>
<style>
body {
background: #000 url(https://images.hdqwalls.com/download/dark-blue-green-gradient-4k-i4-3840x2400.jpg);
color: #fff; 
}
</style>
</head>
<body>
<h1>Enter to account</h1>
<div class = c1>
<p>
name:
</p>
<form>
<input name="login" type="[button|submit]" maxlength="20">
<p>
Password:
</p>
<input name="password" type="[button|submit]" maxlength="20">
<p></p>
<br>
<button class = "b1" type="submit">Login</button>
</form>
<form action="registration">
<button class = "b1">Registration</button>
</form>
</div>
</body>
</html>