{% extends 'base.html' %}

{% block title %}
main_page
{% endblock title %}

{% block head %}
  <meta charset="UTF-8">
  <style>

    div.move
	  {
      position:relative ;
      left: 300px ; 
      }
    </style>
{% endblock head %}

{% block content %}
    <div class="move"><h1>Welcome {{name}}</h1></div>
      <br>
      <br>
      <ul id="navbar">
        <li><a href="/add_transport">add transport</a></li>
        <li><a href="/">*******</a></li>
        <li><a href="/my_transport">my transport</a></li>
        <li><a href="/accounts/logout">exit</a></li>
      </ul>
{% endblock content %}