{% extends 'base.html' %}

{% block title %}
my transport
{% endblock title %}

{% block head %}
    <meta charset="utf-8">
     <style>
    body 
	  {
      background: #000 url(https://images.hdqwalls.com/download/dark-blue-green-gradient-4k-i4-3840x2400.jpg);
      color: #fff; 
      }
	</style>
{% endblock head %} 

{% block content %}
  <h1>Transport</h1>
  <ul id="navbar">
      {% for tr in transports %}
          <li>
              model: {{ tr.model }} <br>
              car number: {{ tr.car_number }} <br>
              free place: {{ tr.place }} <br>
              contact: {{ tr.contact }} <br>
              comment: {{ tr.comment }}
          </li>
      {% endfor %}
  </ul>
  <a href="/main">Back to main page!<a>
{% endblock content %}