<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Poputchiki{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script>
        function postJsonQuery(url, data) {
            return new Promise((resolve, reject) => {
                $.ajax(url, {
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: typeof data !== 'string' ? JSON.stringify(data) : data,
                    success: resp => resolve(resp),
                    error: err => reject(err)
                })
            });
        }

        function getQuery(url) {
            return new Promise((resolve, reject) => {
                $.ajax(url, {
                    type: 'GET',
                    success: resp => resolve(resp),
                    error: err => reject(err)
                })
            });
        }
    </script>
    <style>
        body {
            margin: 0;
        }
        html, body {
            min-height: 100% !important;
            height: 100%;
        }
        h1 {
            margin: 0;
        }
    </style>

    {% block head %} {% endblock head %}
</head>
<body>
    <div style="height: 100%">
    {% block content %}{% endblock content %}
    </div>
</body>
</html>