<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Poputchiki{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script>
        function postJsonQuery(url, data) {
            return new Promise((resolve, reject) => {
                $.ajax(url, {
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: typeof data !== 'string' ? JSON.stringify(data) : data,
                    success: resp => resolve(resp),
                    error: err => reject(err)
                })
            });
        }

        function getQuery(url) {
            return new Promise((resolve, reject) => {
                $.ajax(url, {
                    type: 'GET',
                    success: resp => resolve(resp),
                    error: err => reject(err)
                })
            });
        }

        function formatPathTime(t) {
            let v = Math.round(t/1000);
            let sec = v % 60;
            let minute = Math.floor(v / 60) % 60;
            let hour = Math.floor(v / 60 / 60);

            let res = '';
            if (hour) {
                res += hour + 'ч. ';
            }
            if (minute) {
                res += minute + 'мин. ';
            }
            res += sec + 'сек.';

            return res;
        }

        function formatPathLen(l) {
            let kilometers = Math.floor(l / 1000);
            let meters = l % 1000;

            let res = '';
            if (kilometers) {
                res += kilometers + 'км. ';
            }
            res += meters + 'м.';
            return res;
        }

    </script>
    <style>
        body {
            margin: 0;
        }
        html, body {
            min-height: 100% !important;
            height: 100%;
        }
        h1 {
            margin: 0;
        }
    </style>

    {% block head %} {% endblock head %}
</head>
<body>
<div style="height: 100%; display: flex; flex-direction: column">
     <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">Logo</a>
          <ul id="nav-mobile" class="left">
            <li><a href="{% url 'map' %}">Опубликовать маршрут</a></li>
            <li><a href="{% url 'user_map_view' %}">Построить свой маршрут</a></li>
            <li><a href="{% url 'my_transport' %}">Мой транспорт</a></li>
          </ul>
        </div>
      </nav>
    <div style="flex: 1">
    {% block content %}{% endblock content %}
    </div>
</div>

<!-- Some footer -->
</body>
</html>