<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Poputchiki{% endblock title %}</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script>
        function postJsonQuery(url, data) {
            return new Promise((resolve, reject) => {
                $.ajax(url, {
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: typeof data !== 'string' ? JSON.stringify(data) : data,
                    success: resp => resolve(resp),
                    error: err => reject(err)
                })
            });
        }

        function getQuery(url) {
            return new Promise((resolve, reject) => {
                $.ajax(url, {
                    type: 'GET',
                    success: resp => resolve(resp),
                    error: err => reject(err)
                })
            });
        }
    </script>
    <style>
        a.nubex 
        {
        color: #fff;
        user-select: none; 
        text-decoration: none;	
        outline: none; 
        background-color: #fa8e47; 
        padding: 1em 2em; 
        }
        a.nubex:active {
        background-color: #ee6206;
        }
        a.nubex:hover {
        background-color: #f97f2e; 
        }
    </style>
    {% block head %} {% endblock head %}
</head>
<body>
<h3>Map for your route<h3>
{% block content %}{% endblock content %}
<p></p>
    <p></p>
    <a href="#" class="nubex">Add a route</a>
    <a href="#" class="nubex">Set a route</a>
    <a href="#" class="nubex">Your account</a>
    <p></p>
    <p></p>
<!-- Some footer -->
</body>
</html>