{% extends 'base.html' %}

{% block title %}
   Publish path
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}
{% block content %}

    <div id="map" style="width: 900px; height: 580px"></div>

    <form id="submit-path" action="{% url 'path_publish' %}" method="POST">
        <input id="input-data" type="hidden" name="data" value="">
        <button type="submit">submit path</button>
    </form>

<script>
    let mapOptions = {
        center: [55.75222, 37.6155600],
        zoom: 10
    }
    let map = new L.map('map', mapOptions);
    let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer);

    map.on("click", onMapClick);

    const markers = {};
    let marker_id = 0;
    function onMapClick(e) {
        let id = marker_id++;
        let marker = new L.marker(e.latlng, { draggable: true, title: id+1+'' });
        marker.on('dragend', () => {
            buildPath();
        });
        marker.bindPopup(L.popup().setContent(`
            <button onclick="removeMarker(${id})">remove</button>
        `))
        map.addLayer(marker);
        markers[id] = marker;
        buildPath();
    }

    function removeMarker(id) {
        map.removeLayer(markers[id]);
        delete markers[id];
        buildPath();
    }

    function collectPath() {
        return Object.values(markers).map(m => m.getLatLng()).map(m => ({lat: m.lat, lon: m.lng}));
    }

    let polyline;
    let current_path;
    async function buildPath() {
        let path = collectPath();
        if (path.length > 1) {
            current_path = await postJsonQuery('{% url 'build_path' %}', path);
            if (polyline) {
                map.removeLayer(polyline);
            }
            polyline = L.polyline(current_path.map(p => [p.lat, p.lon]), { color: 'red' })

            map.addLayer(polyline);
        }
    }

    $('#submit-path').on('submit', e => {
        if (current_path) {
            $('#input-data').val(JSON.stringify(current_path));
        } else {
            e.preventDefault();
        }
    });
</script>
{% endblock %}