{% extends 'base.html' %}

{% block title %}
   Publish path
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block content %}

    <div style="display: flex; height: 100%">
        <div id="map" style="flex: 3; height: 100%"></div>
        <div style="flex: 1; padding-left: 8px">
            <h4>Поиск маршрута</h4>

            <label for="time-input">Время отправления:</label><input id="flatpickr">
            <input id="input-data" type="hidden" name="data">
            <hr>
            <div>Время в пути: <span id="travel-time">-</span></div>
            <div>Дистанция: <span id="travel-distance">-</span></div>
            <hr>
{#            <button id="submit-path" class="btn-large red" type="submit">Опубликовать<i class="material-icons right">send</i></button>#}
        </div>
    </div>

<script>
    const flatpickr_object = $('#flatpickr').flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        defaultDate: new Date(),
        time_24hr: true,
        minuteIncrement: 1,
        onChange: () => {
            buildPath()
        }
    });

    let colors = [
        '#b71c1c', '#880e4f', '#4a148c', '#311b92',
        '#1a237e', '#01579b', '#827717', '#1b5e20',
        '#FF1A66', '#f57f17', '#66994D', '#B366CC',
        '#4D8000', '#B33300', '#e65100', '#4db3ff',
        '#1ab399', '#E666B3', '#33991A', '#999933',
        '#FF3380', '#4D80CC', '#9900B3', '#E64D66',
        '#FF4D4D', '#6666FF'
    ].sort(() => Math.random() - 0.5);

    let mapOptions = {
        center: [55.75222, 37.6155600],
        zoom: 10
    };
    let map = new L.map('map', mapOptions);
    let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer);

    map.on("click", onMapClick);

    const markers = {};
    let marker_id = 0;
    function onMapClick(e) {
        if (Object.keys(markers).length < 2) {
            let id = marker_id++;
            let marker = new L.marker(e.latlng, { draggable: true, title: id+1+'' });
            marker.on('dragend', () => {
                buildPath();
            });
            marker.bindPopup(L.popup().setContent(`
                <button onclick="removeMarker(${id})">remove</button>
            `))
            map.addLayer(marker);
            markers[id] = marker;
            buildPath();
        }
    }

    function removeMarker(id) {
        map.removeLayer(markers[id]);
        delete markers[id];
        buildPath();
    }

    function collectPath() {
        return Object.values(markers).map(m => m.getLatLng()).map(m => ({lat: m.lat, lon: m.lng}));
    }

    let paths = [];
    let polylines = [];
    async function requestPaths() {
        paths = [];
        polylines.forEach(p => map.removeLayer(p));
        polylines = [];
        const resp = await getQuery('{% url 'user_paths' %}');
        for (const user_path of resp) {
            paths.push(user_path);
            let polyline = L.polyline(
                user_path.points.map(p => [p.lat, p.lon]),
                {
                    fillColor: colors[paths.length],
                    color: colors[paths.length],
                    weight: 5,
                    fillOpacity: 0.6
                }
            );
            map.addLayer(polyline);
            polylines.push(polyline);
        }
    }

    let current_path_polylines = []
    let current_path;

    let fragments = [];
    async function buildPath() {
        let path = collectPath();
        if (path.length > 1) {

            let form = new FormData();
            form.append('start_at', flatpickr_object.selectedDates[0].toISOString());
            form.append('points', JSON.stringify(path));

            let result = await (await fetch('{% url 'build_user_path' %}', {
                method: 'POST',
                body: form
            })).json();
            current_path = result.path;

            current_path_polylines.forEach(l => map.removeLayer(l));
            current_path_polylines = [];
            fragments = [];

            let path_id = current_path.points[0].path_id;
            let buff = [];
            for (const p of current_path.points) {
                if (p.path_id === path_id) {
                    buff.push([p.lat, p.lon]);
                } else {
                    current_path_polylines.push(
                        L.polyline(buff, { color: path_id ? 'green' : 'red', weight: path_id ? 10 : 3 })
                    );
                    buff = [[p.lat, p.lon]]
                    path_id = p.path_id;
                }
            }
            if (buff.length) {
                current_path_polylines.push(
                    L.polyline(buff, { color: path_id ? 'green' : 'red', weight: path_id ? 10 : 3 })
                );
            }
            current_path_polylines.forEach(l => map.addLayer(l));

            $('#travel-time').text(formatPathTime(current_path.total_time));
            $('#travel-distance').text(formatPathLen(current_path.total_distance));
        }
    }

    requestPaths();
</script>
{% endblock %}