{% extends 'base.html' %}

{% block title %}
   Publish path
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block content %}

    <div style="display: flex; height: calc(100% - 64px); max-height: calc(100% - 64px)">
        <div id="map" style="flex: 3; height: 100%"></div>
        <div style="flex: 1; padding: 8px; overflow: auto; min-width: fit-content;">
            <h4>Поиск маршрута</h4>

            <label for="time-input">Время отправления:</label><input id="flatpickr">
            <input id="input-data" type="hidden" name="data">
            <hr>
            <div style="margin: 8px 0">
                <div>Время в пути: <span id="travel-time">-</span></div>
                <div>На машине: <span id="travel-time-car-part">-</span></div>
            </div>
            <div style="margin: 8px 0">
                <div>Дистанция: <span id="travel-distance">-</span></div>
                <div>На машине: <span id="travel-distance-car-part">-</span></div>
            </div>
            <hr>
            <h5>Совместные фрагменты:</h5>
            <div id="fragment-container">

            </div>
        </div>
    </div>
    <style>
        .time-label {
            padding: 5px;
        }
    </style>

<script>

    const fragments_container = $('#fragment-container');
    const flatpickr_object = $('#flatpickr').flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        defaultDate: new Date(),
        time_24hr: true,
        minuteIncrement: 1,
        onChange: () => {
            buildPath()
        }
    });

    let colors = [
        '#b71c1c', '#880e4f', '#4a148c', '#311b92',
        '#1a237e', '#01579b', '#827717', '#1b5e20',
        '#FF1A66', '#f57f17', '#66994D', '#B366CC',
        '#4D8000', '#B33300', '#e65100', '#4db3ff',
        '#1ab399', '#E666B3', '#33991A', '#999933',
        '#FF3380', '#4D80CC', '#9900B3', '#E64D66',
        '#FF4D4D', '#6666FF'
    ].sort(() => Math.random() - 0.5);

    let mapOptions = {
        center: [55.75222, 37.6155600],
        zoom: 10
    };
    let map = new L.map('map', mapOptions);
    let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer);

    map.on("click", onMapClick);

    const markers = {};
    let marker_id = 0;
    function onMapClick(e) {
        if (Object.keys(markers).length < 2) {
            let id = marker_id++;
            let marker = new L.marker(e.latlng, { draggable: true, title: id+1+'' });
            marker.on('dragend', () => {
                buildPath();
            });
            marker.bindPopup(L.popup().setContent(`
                <button onclick="removeMarker(${id})">remove</button>
            `))
            map.addLayer(marker);
            markers[id] = marker;
            buildPath();
        }
    }

    function removeMarker(id) {
        map.removeLayer(markers[id]);
        delete markers[id];
        buildPath();
    }

    function collectPath() {
        return Object.values(markers).map(m => m.getLatLng()).map(m => ({lat: m.lat, lon: m.lng}));
    }

    let paths = [];
    let polylines = [];
    async function requestPaths() {
        paths = [];
        polylines.forEach(p => map.removeLayer(p));
        polylines = [];
        const resp = await getQuery('{% url 'user_paths' %}');
        for (const user_path of resp) {
            paths.push(user_path);
            let polyline = L.polyline(
                user_path.points.map(p => [p.lat, p.lon]),
                {
                    fillColor: colors[paths.length],
                    color: colors[paths.length],
                    weight: 5,
                    fillOpacity: 0.6
                }
            );
            polyline.bindPopup(`<div>${new Date(user_path.starts_at)}</div>`)
            map.addLayer(polyline);
            polylines.push(polyline);
        }
    }

    let current_path_polylines = []
    let current_path;

    let fragments = [];
    async function buildPath() {
        let path = collectPath();
        if (path.length > 1) {

            let form = new FormData();
            form.append('start_at', flatpickr_object.selectedDates[0].toISOString());
            form.append('points', JSON.stringify(path));

            let result = await (await fetch('{% url 'build_user_path' %}', {
                method: 'POST',
                body: form
            })).json();
            current_path = result.path;

            current_path_polylines.forEach(l => map.removeLayer(l));
            current_path_polylines = [];
            fragments = [];

            let path_id = current_path.points[0].path_id;
            let buff = [];
            let ind = 0;
            let fragment = {}
            for (const p of current_path.points) {
                if (p.path_id === path_id) {
                    buff.push([p.lat, p.lon]);
                } else {
                    current_path_polylines.push(
                        L.polyline(buff, { color: path_id ? 'green' : 'red', weight: path_id ? 10 : 3 })
                    );
                    buff = [[p.lat, p.lon]]
                    path_id = p.path_id;
                    if (path_id) {
                        fragment.path_id = path_id;
                        fragment.start_time = current_path.eta_list[ind];
                        fragment.start_distance = current_path.distance_list[ind];
                    } else {
                        fragment.end_time = current_path.eta_list[ind];
                        fragment.end_distance = current_path.distance_list[ind];
                        fragments.push(fragment);
                        fragment = {};
                    }
                }
                ind++;
            }
            if (buff.length) {
                current_path_polylines.push(
                    L.polyline(buff, { color: path_id ? 'green' : 'red', weight: path_id ? 10 : 3 })
                );
            }
            current_path_polylines.forEach(l => map.addLayer(l));
            $('#travel-time-car-part').text(formatPathTime(
                fragments.reduce((acc, f) => acc + (f.end_time - f.start_time), 0)
            ));
            $('#travel-distance-car-part').text(formatPathLen(
                fragments.reduce((acc, f) => acc + (f.end_distance - f.start_distance), 0)
            ));
            fragments_container.html('');
            let res = '';
            fragments.forEach(f => {
                const path = result.car_paths.find(cp => cp.id == f.path_id);
                if (path) {
                    res += `
                    <div class="card card-content" style="margin-bottom: 64px">
                        <div style="display: flex; justify-content: space-between">
                            <div class="green lighten-1 time-label">${formatPathTime(f.start_time)}</div>
                            <div>Начало</div>
                            <div class="red lighten-1 time-label">${formatPathLen(f.start_distance)}</div>
                        </div>
                        <table> <tbody>
                            <tr>
                                <td>Пользователь</td>
                                <td>${path.user.username}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>${path.transport ? path.transport.contact : '-'}</td>
                            </tr>
                            <tr>
                                <td>Марка автомобиля</td>
                                <td>${path.transport ? path.transport.model : '-'}</td>
                            </tr>
                            <tr>
                                <td>Номер автомобиля</td>
                                <td>${path.transport ? path.transport.car_number : '-'}</td>
                            </tr>
                            <tr>
                                <td>Можно курить</td>
                                <td>${path.transport ? (path.transport.can_smoke ? 'Да' : 'Нет') : '-'}</td>
                            </tr>
                            <tr>
                                <td>Можно музыку</td>
                                <td>${path.transport ? (path.transport.can_play_music ? 'Да' : 'Нет') : '-'}</td>
                            </tr>
                            <tr>
                                <td>Можно с животными</td>
                                <td>${path.transport ? (path.transport.animals_allowed ? 'Да' : 'Нет') : '-'}</td>
                            </tr>
                        </tbody></table>
                        <div style="display: flex; justify-content: space-between">
                            <div class="green lighten-1 time-label">${formatPathTime(f.end_time)}</div>
                            <div>Конец</div>
                            <div class="red lighten-1 time-label">${formatPathLen(f.end_distance)}</div>
                        </div>
                    </div>`
                }
            });
            fragments_container.html(res);

            $('#travel-time').text(formatPathTime(current_path.total_time));
            $('#travel-distance').text(formatPathLen(current_path.total_distance));
        }
    }

    requestPaths();
</script>
{% endblock %}