{% extends 'base.html' %}

{% block title %}
   Publish path
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block content %}

    <div id="map" style="width: 900px; height: 580px"></div>

    <input id="flatpickr">

<script>
    const flatpickr_object = $('#flatpickr').flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        defaultDate: new Date(),
        time_24hr: true,
        minuteIncrement: 1,
        onChange: () => {
            buildPath()
        }
    });

    let colors = [
        '#FF6633', '#FF33FF', '#00B3E6', '#E6B333',
        '#3366E6', '#B34D4D', '#E6B3B3', '#6680B3',
        '#FF1A66', '#E6331A', '#66994D', '#B366CC',
        '#4D8000', '#B33300', '#66664D', '#991AFF',
        '#4DB3FF', '#1AB399', '#E666B3', '#33991A',
        '#809980', '#999933', '#FF3380', '#4D80CC',
        '#9900B3', '#E64D66', '#FF4D4D', '#99E6E6',
        '#6666FF'
    ].sort(() => Math.random() - 0.5);
    let mapOptions = {
        center: [55.75222, 37.6155600],
        zoom: 10
    };
    let map = new L.map('map', mapOptions);
    let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer);

    map.on("click", onMapClick);

    const markers = {};
    let marker_id = 0;
    function onMapClick(e) {
        if (Object.keys(markers).length < 2) {
            let id = marker_id++;
            let marker = new L.marker(e.latlng, { draggable: true, title: id+1+'' });
            marker.on('dragend', () => {
                buildPath();
            });
            marker.bindPopup(L.popup().setContent(`
                <button onclick="removeMarker(${id})">remove</button>
            `))
            map.addLayer(marker);
            markers[id] = marker;
            buildPath();
        }
    }

    function removeMarker(id) {
        map.removeLayer(markers[id]);
        delete markers[id];
        buildPath();
    }

    function collectPath() {
        return Object.values(markers).map(m => m.getLatLng()).map(m => ({lat: m.lat, lon: m.lng}));
    }

    let paths = [];
    let polylines = [];
    async function requestPaths() {
        paths = [];
        polylines.forEach(p => map.removeLayer(p));
        polylines = [];
        const resp = await getQuery('{% url 'user_paths' %}');
        for (const user_path of resp) {
            paths.push(user_path);
            let polyline = L.polyline(
                user_path.points.map(p => [p.lat, p.lon]),
                {
                    fillColor: colors[paths.length],
                    color: colors[paths.length],
                    weight: 5,
                    fillOpacity: 0.6
                }
            );
            map.addLayer(polyline);
            polylines.push(polyline);
        }
    }

    let current_path_polylines = []
    let current_path;
    async function buildPath() {
        let path = collectPath();
        if (path.length > 1) {

            let form = new FormData();
            form.append('start_at', flatpickr_object.selectedDates[0].toISOString());
            form.append('points', JSON.stringify(path));

            let result = await (await fetch('{% url 'build_user_path' %}', {
                method: 'POST',
                body: form
            })).json();

            current_path_polylines.forEach(l => map.removeLayer(l));
            current_path_polylines = [];

            let path_id = result.path.points[0].path_id;
            let buff = [];
            for (const p of result.path.points) {
                if (p.path_id === path_id) {
                    buff.push([p.lat, p.lon]);
                } else {
                    current_path_polylines.push(
                        L.polyline(buff, { color: path_id ? 'green' : 'red', weight: path_id ? 10 : 3 })
                    );
                    buff = [[p.lat, p.lon]]
                    path_id = p.path_id;
                }
            }
            if (buff.length) {
                current_path_polylines.push(
                    L.polyline(buff, { color: path_id ? 'green' : 'red', weight: path_id ? 10 : 3 })
                );
            }
            current_path_polylines.forEach(l => map.addLayer(l));
        }
    }

    requestPaths();
</script>
{% endblock %}